@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.inverted-image {
    filter: invert(1);
}

.custom-loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

.custom-loader {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #00B971);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    to {
        transform: rotate(1turn)
    }
}

.custom-max-width {
    max-width: 31rem;
    /* Ajusta el valor según tus necesidades */
}

.text-roboto {
    font-family: 'Roboto', sans-serif;
}

.input-field {
    border: 1px solid #0DFF6E;
}

.custom-bg {
    background: none;
}

@media (max-width: 500px) {
    .custom-bg {
        background-image: url('/src/assets/bg-mobile.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.button-login {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.50rem;
    background: #00B971;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.7s ease;
}

.button-login:focus {
    box-shadow: 0 0 0 2px #388ad1;
}

.button-login:hover {
    background: #0DFF6E;
}

.signup-text {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
}

.signup-text a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

@media (max-width: 500px) {
    .signup-text {
        color: white;
    }

    .signup-text a {
        color: white;
    }
}


.signup-text a:hover {
    text-decoration: underline;
    color: #00B971;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.title-panel {
    font-weight: 600;
}

.category-panel {
    font-weight: 600;

}

.custom-shadow {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}

.green-text {
    color: #008A55;
}

.blue-text {
    color: #1D36AE;
}

.orange-text {
    color: #E4570D;
}

.expand-collapse-content {
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: max-height 0.5s ease-out, visibility 0.8s ease-out, opacity 0.7s ease-out;
    opacity: 0;
}

.expand-collapse-content.expanded {
    max-height: 2000px;
    /* Ajusta este valor según tus necesidades */
    visibility: visible;
    opacity: 1;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 1.3s;
}

/* Redondear y cambiar el color de las checkboxes */
.custom-checkbox {
    appearance: none;
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    border-radius: 20%;
    /* Redondear las checkboxes */
    outline: none;
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked {
    background-color: #00B971;
    /* Color verde */
    border: 1px solid #00B971;
}

.custom-checkbox:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
}

.goal-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.progress-bar-container {
    width: 100%;
    border-radius: 20px;
}

.progress-bar-content {
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.card-container {
    overflow-y: auto;
    /* Otros estilos... */
}


.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    /* Ancho de la barra de desplazamiento */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-bottom-right-radius: 6px;
    /* Color de fondo de la barra (la "pista") */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: grey;
    /* Color del pulgar (el elemento que se mueve) */
    border-radius: 6px;
    /* Redondeo de las esquinas del pulgar */
    border: 2px solid white;
    /* Borde del pulgar */
}

.slide-enter {
    transform: translateX(100%);
    z-index: 2;
    /* Asegura que VistaDetalleMeta esté encima durante la transición */
}

.slide-enter-active {
    transform: translateX(0);
    transition: transform 500ms ease-in-out;
}

.slide-exit {
    transform: translateX(0);
    z-index: 2;
    /* Asegura que VistaDetalleMeta esté encima durante la transición */
}

.slide-exit-active {
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}

#vistaDetalleMeta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.confirmation-view {
    position: absolute;
    top: 14%;
    left: 4%;
    right: 4%;
}